<!DOCTYPE html>
<html>
<head>
    <!-- This website is created by Sujan kundu-->
    <title>Weather-App</title>
<link rel="icon" href="/img/weather02.png">
<link rel="stylesheet" href="/css/style.css">
<script src="/js/app.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="main-content">
{{>header}}
<img class="circle-cropper" src="/img/sujan.png"><br>
<b id="author">{{auther}}</b><br><br>
<a href="https://www.facebook.com/sujan.kundu.7923" target="_blank" class="fa fa-facebook"></a>
<a href="https://twitter.com/skundu879" target="_blank" class="fa fa-twitter"></a>
<a href="#" target="_blank" class="fa fa-google"></a>
<a href="https://www.linkedin.com/in/sujan-kundu-360222125/" target="_blank" class="fa fa-linkedin"></a>
<a href="https://www.youtube.com/channel/UCR_2LdJR00YCuAvubenJWtQ?view_as=subscriber" target="_blank" class="fa fa-youtube"></a>
<a href="https://www.instagram.com/skundu879/" target="_blank" class="fa fa-instagram"></a>
<a href="https://github.com/skundu879" target="_blank" class="fa fa-github"></a>

</div>
{{>footer}}
</body>
</html>