<!DOCTYPE html>
<html>
<head>
<title>Weather-App</title>
<link rel="icon" href="/img/weather02.png">
<link rel="stylesheet" href="/css/style.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
<div class="main-content">
{{>header}}
<form>
<input class="location" placeholder="Location">
<button class="search">Search</button>
<!--<button class="search">Current Location</button>-->
</form></br>
<p id="ErrorMessage"></p>
<divn id="errorImage"></divn>
<div id="dvTable"></div>
</div>
{{>footer}}
<script src="/js/app.js"></script>
<script>
    function findOffset(element) {
  var top = 0, left = 0;

  do {
    top += element.offsetTop  || 0;
    left += element.offsetLeft || 0;
    element = element.offsetParent;
  } while(element);

  return {
    top: top,
    left: left
  };
}

window.onload = function () {
  var stickyHeader = document.getElementById('sticky');
  var headerOffset = findOffset(stickyHeader);

  window.onscroll = function() {
    // body.scrollTop is deprecated and no longer available on Firefox
    var bodyScrollTop = document.documentElement.scrollTop || document.body.scrollTop;

    if (bodyScrollTop >= headerOffset.top) {
      stickyHeader.classList.add('fixed');
    } else {
      stickyHeader.classList.remove('fixed');
    }
  };
};
</script>
</body>
</html>